body {
    margin: 0;
    padding: 0;
    background: rgb(51, 51, 51);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* 网页头部 */
header {
    background-color: black;
    background-image: url(images/header.jpg);
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 400px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header a:hover {
    color: rgb(243, 250, 145);
}

header .mobile {
    display: none;
}

header .logo {
    background-image: url("images/logo.png");
    display: inline-block;
    height: 90px;
    width: 200px;
    text-indent: -999999px; /*让文字移出显示框*/
    background-size: 200px; /*设置背景logo宽度为200px高度自适应*/
    background-repeat: none;
    position: relative;
    top: -35px; /*使用相对定位使得logo与文字水平对齐*/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* 响应式布局 */
@media screen and (max-width: 635px ){
    header {
        height: 250px;
        background-position: 0 0px;
    }
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}

/* 网页内容 */
.tv-animation {
    background: white;
    color: rgb(77, 77, 77);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tv-animation figure {
    width: 180px;
    text-align: center;
    padding: 5px;
    margin: auto;

}

.tv-animation a {
    color: rgb(77, 77, 77);
    text-decoration: none;
}

.tv-animation figure img {
    width: 180px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: gray 5px 5px 5px;/*参数分别是颜色，水平阴影位置，垂直阴影位置，模糊距离*/
}

/* 网页底部 */
footer { 
    background: black;
    color: gray;
    font-size: 14px;
    padding: 20px 20px;
    text-align: center;
}